In [1]:
import numpy as np
import pandas as pd

In [2]:
# Prevent future/deprecation warnings from showing in output
import warnings
warnings.filterwarnings(action='ignore')

In [3]:
testingd = pd.read_csv('testing.csv')

In [4]:
testingd

   Unnamed: 0                                               text  title
0           0  ndubi moturi “ mimi ni johnson sakaja , togeth...    NaN
1           1  ndubi moturi “ mimi ni johnson sakaja , togeth...    NaN
2           2  ndubi moturi “ mimi ni johnson sakaja , togeth...    NaN

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
A = testingd.text
b = testingd.title
A_train, A_test, b_train, b_test = train_test_split(A, b, test_size=0.30)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
vect = CountVectorizer(binary=True,max_features=2000)

In [10]:
A_test_vect = vect.fit_transform(A_test)

In [12]:
import joblib

In [15]:
nb = joblib.load('final.sav')

In [17]:
A_test_vect

<1x277 sparse matrix of type '<class 'numpy.int64'>'
	with 277 stored elements in Compressed Sparse Row format>

In [18]:
print(A_test_vect)

  (0, 161)	1
  (0, 151)	1
  (0, 146)	1
  (0, 164)	1
  (0, 111)	1
  (0, 214)	1
  (0, 246)	1
  (0, 121)	1
  (0, 119)	1
  (0, 251)	1
  (0, 122)	1
  (0, 113)	1
  (0, 185)	1
  (0, 132)	1
  (0, 40)	1
  (0, 51)	1
  (0, 46)	1
  (0, 124)	1
  (0, 165)	1
  (0, 36)	1
  (0, 145)	1
  (0, 263)	1
  (0, 261)	1
  (0, 202)	1
  (0, 55)	1
  :	:
  (0, 120)	1
  (0, 271)	1
  (0, 105)	1
  (0, 88)	1
  (0, 176)	1
  (0, 249)	1
  (0, 209)	1
  (0, 95)	1
  (0, 205)	1
  (0, 110)	1
  (0, 139)	1
  (0, 236)	1
  (0, 67)	1
  (0, 116)	1
  (0, 49)	1
  (0, 26)	1
  (0, 184)	1
  (0, 65)	1
  (0, 203)	1
  (0, 178)	1
  (0, 250)	1
  (0, 159)	1
  (0, 92)	1
  (0, 3)	1
  (0, 268)	1