In [1]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline

In [5]:
df = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
...                    'B': ['abc', 'bar', 'xyz']})

In [6]:
df

      A    B
0   bat  abc
1   foo  bar
2  bait  xyz

In [7]:
df.replace(to_replace=r'^foo', value='new', regex=True)

      A    B
0   bat  abc
1   new  bar
2  bait  xyz